{% extends "base.html" %}
{% block title %}Change password{% endblock %}
{% block content %}
<div class="auth">
  <h1>Change password</h1>
  <p class="lead">Signed in as {{ user.username }}.</p>
  <form method="post">
    {% csrf_token %}
    {% include "includes/form_errors.html" %}
    {% for field in form %}{% include "includes/field.html" %}{% endfor %}
    <div class="form-actions">
      <button type="submit" class="btn btn-primary">Change password</button>
      <a class="btn btn-ghost" href="{% url 'tracker:home' %}">Cancel</a>
    </div>
  </form>
</div>
{% endblock %}
